* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(270deg, #b0bec5 0%, #CFD8DC 100%);
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 0 auto;
    max-width: 60%;
    background: #fff;
    box-shadow: 0 0 0.2px #455A64;
    display: flex;
    flex-direction: column;
}

.image-header {
    box-shadow: 0 0.5rem 0.5rem #455A64;
}

.content-header {
    background-image: linear-gradient(270deg, #b0bec5 0%, #CFD8DC 100%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    top: 0;
    text-align: center;
    text-decoration-line: underline;
    color: white;
    background-color: #455A64;
    margin: 0;
    font-size: 5rem;
}

.content {
    font-size: 1.8rem;
    text-align: justify;
    color: #455A64;
    margin: 1.5rem;
}

.video {
    position: relative;
    height: 0;
    align-self: center;
    padding-bottom: 28.125%;
    width: 50%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.phrase {
    text-align: center;
    font-size: 3.6rem;
    color: #455A64;
    font-style: italic;
    margin: 1.5rem;
}

.play_badge {
    text-align: center;
    margin-bottom: 1.6rem;
}

.play_badge img {
    height: 5.2rem;
}

#index_footer {
    text-align: center;
    background-color: #455A64;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

#index_footer_list {
    list-style: none;
    text-align: center;
    margin: 0;
}

#index_footer a {
    color: white;
}

#index_footer a:hover {
    color: rgb(255, 255, 0);
}

#index_footer_list li {
    display: inline-block;
    margin: 1.2rem;
}

ul li {
    list-style-type: none;
    display: block;
    font-size: 1.6rem;
    padding-left: 1.6rem;
    font-weight: 700;
    margin-block-start: 1.6rem;
    margin-block-end: 1.6rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul li p {
    font-weight: 400;
}

.post_content {
    font-size: 1.8rem;
    margin: 0px 1.6rem 1.6rem 1.6rem;
}

.legal_docs {
    display: block;
    margin: 0 1% 0 1%;
}

.legal_docs p {
    text-align: justify;
    margin-top: 0;
    font-size: 1.6rem;
    display: block;
    margin-block-start: 1.6rem;
    margin-block-end: 1.6rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.legal_docs tr {
    margin-top: 0;
    font-size: 1.6rem;
}

.legal_docs h1 {
    display: block;
    font-size: 3.2rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.legal_docs h2 {
    display: block;
    font-size: 2.4rem;
    margin-block-start: 1.3rem;
    margin-block-end: 1.3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.legal_docs h3 {
    display: block;
    font-size: 1.6rem;
    margin-block-start: 1.6rem;
    margin-block-end: 1.6rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.legal_docs h5 {
    display: block;
    font-size: 1.5rem;
    margin-block-start: 1.6rem;
    margin-block-end: 1.6rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.legal_docs footer {
    background-color: #455A64;
    font-size: 1.2rem;
    height: 1.6rem;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: white;
}

@media screen and (max-width:768px) {
    .legal_docs p {
        font-size: 1.2rem;
    }

    .legal_docs tr {
        font-size: 1.2rem;
    }

    .legal_docs h1 {
        font-size: 2.4rem;
    }

    .legal_docs h2 {
        font-size: 2.6rem;
    }

    .legal_docs h3 {
        font-size: 1.4rem;
    }

    ul li {
        font-size: 1.4rem;
        padding-left: 1.4rem;
    }

    ul li p {
        font-size: 1.2rem;
    }

    .legal_docs h5 {
        font-size: 1.4rem;
    }

    .legal_docs footer {
        font-size: 1rem;
    }

    section {
        max-width: 100%;
    }

    .content {
        font-size: 1.6rem;
        text-align: justify;
        color: #455A64;
        margin: 1.2rem;
    }

    .post_content {
        font-size: 1.4rem;
        margin: 0px 1.2rem 1.2rem 1.2rem;
    }

    .title {
        font-size: 3rem;
    }

    .phrase {
        font-size: 1.6rem;
        margin: 1.2rem;
    }

    .video {
        position: relative;
        height: 0;
        align-self: center;
        padding-bottom: 56.25%;
        width: 100%;
    }
}