body {
    background-color: #CFD8DC;
    margin: 0;
}

p {
    text-align: justify
}

.title {
    text-align: center;
    text-decoration-line: underline;
    color: white;
    background-color: #455A64;
    margin: 0;
    font-size: 64px;
}

footer {
    text-align: center;
}

.content {
    font-size: 32px;
    text-align: justify;
    color: #455A64;
    margin: 15px;

}
